body {
  background-color: rgb(29, 24, 24);
}

ul {
  list-style: none;
  color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

ul li {
  font-size: 1em;
  border-width: 0.2em;
  border-color: black;
  border-style: solid;
  margin: 1em;
  padding: 4em;
  box-sizing: border-box;
  border-radius: 50%;
}
